@import "tailwindcss";

@layer base {
    html {
        scroll-behavior: smooth;
    }

    body {
        min-height: 100vh;
    }

    button,
    a {
        cursor: pointer;
    }
}

@layer components {
    .btn {
        @apply rounded px-4 py-2 text-white bg-blue-500
    }
}